
body { font-family: Lato, Arial; font-size: 14px; color: #333;}
#wrap { margin: 0 auto; max-width: 795px; padding: 10px 15px;}

a { text-decoration: none; color: #379;}
ul { padding-left: 0;}
li { list-style: none; position: relative; margin: 8px 0 24px; line-height: 19px;}

#title { display: flex; align-items: flex-end; justify-content: space-between; padding-top: 20px; border-bottom: 1px solid #ccc; padding-bottom: 6px; margin-bottom: 20px;}
#title h1 { font-size: 40px; margin: 0; color: #147; min-width: 300px;}
#title h1 a { color: #147;}
#top_menu { margin: 0 0 4px 0;}
#top_menu li { display: inline; font-size: 16px; margin: 0 7px;}
#top_menu a { color: #555;}
#top_menu a:hover { color: #379;}

.content { position: relative; margin-left: 175px; line-height: 22px;}
.content a { border-bottom: 1px solid #ddd;}
.content a:hover { text-decoration: underline; border-bottom: 0;}

#profile_card { position: absolute; width: 150px; left: -175px; margin-top: 5px; margin-bottom: 20px;}
#profile_card img#profile_image { width: 150px; height: 200px;}

#profile_items { margin-top: 15px; overflow: hidden;}
#profile_items li { font-size: 13px; margin: 4px -2px 2px -1px; display: inline-flex;}
#profile_items li i { color: #555; padding-top: 3px; min-width: 22px;}
#profile_items li a { border-bottom: 0;}

.content h3 { margin: 40px 0 15px -1px; border-bottom: 1px solid #ddd; font-size: 22px; color: #059; padding-bottom: 3px;}
#content_sub h3 { margin-top: 20px; padding-top: 5px;}
h4 { font-size: 15px; font-weight: normal; font-style: italic; color: #5f88a7; margin-top: 20px; margin-bottom: 0px;}

#about_me_text { font-size: 14px; line-height: 22px; margin-top: 10px;}
#about_me_text p { margin: 12px 0;}
.highlighted_news { padding: 6px 10px 6px 12px; border-radius: 15px; background-color: #f5f5f5; color: #852908;}

.content a.link_button { display: table-cell; padding: 6px 10px; margin-right: 5px; border: 1px solid #ccc; border-radius: 1px; font-size: 12px; text-transform: uppercase;}
.content a.link_button:hover { background-color: #bcf; border: 1px solid #abf; text-decoration: none;}

#bio_text { font-size: 15px; line-height: 24px; margin: 25px 25px 75px 25px;}

ul.bullets { margin: 0 0 15px;}
ul.bullets li { margin: 4px 0 6px 20px; line-height: 17px; list-style: disc; padding-left: 2px; color: #555;}

ul.items { margin-top: 3px; }
ul.items li { font-size: 14px; margin: 8px 0; line-height: 21px;}
ul.items.dense li { line-height: 16px;}
.date { color: #777; font-size: 12px; text-transform: uppercase; margin-right: 3px; }
.left { position: absolute; font-size: 12px; left: -130px; width: 110px; text-align: right; margin-top: 0;}
.flex { display: flex; }
.graytext { color: #777; }

.projects { display: flex; flex-wrap: wrap;}
.project { background-color: #fcfcfc; padding: 8px 9px; margin-right: 8px; margin-bottom: 8px; font-size: 13px; line-height: 15px; max-width: 180px;}
.project_thumbnail img { width: 180px;}
.project_title { color: #444; font-size: 20px; margin: 9px 0 5px 0;}
.project_contents { padding-left: 8px;}
.project_subtitle { color: #666; font-size: 14px; margin: 8px 0 5px 0;}
.project_description { font-size: 10px; color: #555; margin: 6px 0 5px 0; line-height: 12px;}
.content .project_links a { color: #157; padding: 2px 4px 0 0; margin-right: 2px; font-size: 12px; border-bottom: none;}

.section_memo { font-size: 15px; font-weight: normal; margin-left: 7px; color: #888;}
.section_memo a { color: #666;}

span.booktitle { font-style: italic;}
span.myname { color: #37b; font-weight: bold;}
span.highlight { color: #c52c5c; font-weight: bold;}

.content .pub a { color: #157; text-decoration: none; padding: 4px 4px 3px 0; margin-top: 4px; margin-right: 2px; border: 0;}
.content .pub a:hover { text-decoration: underline;}
.content .pub a.paper_title { color: #333;}
.content .pub a.inpage_link { padding: 0; margin: 0; }
.paper_thumbnail { position: absolute; top: 3px; left: -150px;}
.paper_thumbnail img { width: 135px;}
#content_sub .paper_thumbnail { position: relative; top: 0; left: 0;}
#content_sub .paper_thumbnail img { width: 105px;}

p.desc { color: #555; margin-top: 0; font-size: 14px;}

p#copyright { margin-top: 40px; text-align: center;}

img {
	border-radius: 6px;
}

@media (max-width: 600px) {
	#title { flex-wrap: wrap;}
	#title h1 { width: 100%; padding-bottom: 12px;}
	#top_menu { border-top: 1px solid #ccc; padding-top: 9px; width: 100%;}
	#top_menu li { margin: 0 6px;}
	#top_menu small { display: none;}
	.content { margin-left: 0;}
	#profile_card { position: relative; left: 0; width: auto; display: flex; align-items: flex-end;}
	#profile_items { margin: 0 0 3px 15px;}
	#profile_items li { margin: 5px 0 3px 1px; display: flex;}
	.projects { display: block;}
	.project { display: flex; flex-direction: row; max-width: 100%; margin-bottom: 12px;}
	.project_thumbnail { margin-right: 9px; max-width: 60%;}
	.project_thumbnail img { width: 100%;}
	.paper_thumbnail { position: relative; top: 0; left: 0;}
	.left { position: relative; left: 0; text-align: left; margin-left: 5px;}
}