* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  margin: auto; background: white;
}

.pages {
  color: #316685;
  text-align: center;
  font-size: 3.5rem;
  /* margin-top: 10%; */
}
